body{
    font-family: 'Righteous', cursive;
}
p{
    font-family: 'Moon Dance', cursive;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
}
.head-line{
    padding-left: 2%;
    font-size: 50px;
    line-height: 60%;
    font-weight: 500;
}
.left-border{
    border-left: 4px solid orangered;
}
.flexible{
    display: flex;
    margin-bottom: 130px;
}
span{
    color: orangered;
}
.two-coloum{
    width: 50%;
    padding-left: 8%;
}
.two-coloum img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 35px;
    border-radius: 5px;
}
#Scroll{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: slategrey;
    margin-top: 25px;
}

#centre{
    text-align: center;
    font-size: 35px;
}
.three-coloum{
    padding-right: 20px;
    padding-left: 20px;
}
.motivations{
    margin-left: 50px;
    margin-right: 50px;
}
.Wilson{
    width: 90%;
    background-color: rgba(112, 128, 144, 0.548);
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
}
.Kael{
    width: 90%;
    background-color: rgba(64, 224, 208, 0.548);
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
}
.Herbert{
    width: 90%;
    background-color: rgba(105, 90, 205, 0.486);
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
}
.image{
    width: 40%;
    padding-top: 3%;
}

.left-side{
    width: 45%;
}
.left-side img{
    width: 55%;
    margin-left: 35%;
}
.right-side{
    width: 60%;
    margin-right: 5%;
}
.express-yourself{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: 17%;
    background-position: left;
}